.explore-container{
  height: 100vh;
  
  display: flex;
  margin-top: 4%;
  
}

.explore-eyeglassses{
  
  width: 50%;
 
  
  margin-left: 5%;
}
.explore-eyeglassses img{
max-height: 70%;
max-width: 100%;
}
.explore-eyeglassses h1, .explore-eyeglassses h3, .explore-eyeglassses h4 {
  padding-top: 25px;
  font-family: "Poppins", Sans-serif;
}

.explore-sunglasses{
  
  width: 50%;
 
}
.explore-sunglasses img{
  margin-top: 10%;
  max-height: 70%;
  max-width: 100%;
  }

  .explore-sunglasses h1, .explore-sunglasses h3, .explore-sunglasses h4 {
    padding-top: 17px;
    font-family: "Poppins", Sans-serif;
    
  }
  .explore-sunglasses h1,.explore-eyeglassses h1{
    font-size: 40px;
  }

  @media (max-width:500px) {
    .explore-container{
     flex-wrap: wrap;
     justify-content: center;
      
    }
    
  }